<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../stylesheets/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <title>List</title>
  </head>

  <header><%- include('common/header', { loginUser: session}); %></header>

  <body>
    <div>
      <img class="dispImage" src="../images/<%= item.imageName%>" alt="" />
      <div>
        <span>詳細内容</span>
      </div>
      <span class="itemDetail"><%= item.detail%></span>
    </div>
    <form action="/addCart" method="POST">
    <div>
      <select name="" id="">
        <% for(let i = 0; i <= item.price; i++) { %>
        <option value="buyItemNum"><%= i %></option>
        <% } %></select
      >個
      <button type="submit" class="btn btn-primary">購入する</button>
      </div>
      </form>
    </div>
  </body>
</html>
