<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>

    <style>
      .tile {
        height: 100px;
        width: 33%;
        background-color: black;
        color: black;
      }
    </style>
  </head>
  <header><%- include('common/header'); %></header>
  <body>
    <div>Listの画面です</div>

    <table width="800px" height="1000px">
      <tbody>
        <tr>
          <td class="tile"></td>
          <td class="tile"></td>
          <td class="tile"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
