<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>Header Sample</title>
    <link rel="stylesheet" href="../stylesheets/index.css" />
  </head>
  <body>
    <nav class="nav">
      <div>
        <a href="/logout">ログアウト</a>
      </div>
      <span class="loginUser">ようこそ<%=loginUser.name%>さん</span>
      <ul class="menu-group">
        <li class="menu-item"><a href="/cartItems">カートの中身</a></li>
        <li class="menu-item"><a href="/list">商品一覧</a></li>
      </ul>
    </nav>
  </body>
</html>
